<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
</head>
<body>

<div class="ui">
    <button class="ui button">Hi</button>
</div>
<div class="ui card">
  <a class="image" href="#link">
    <img src="/images/avatar/large/steve.jpg">
  </a>
  <div class="content">
    <a class="header" href="#link">Steve Jobes</a>
    <div class="meta">
      <a class="time">Last Seen 2 days ago</a>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
</body>
</html>